body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(124deg, rgb(212, 47, 156), rgb(228, 50, 58));
  color: #333;
  font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

html,
body,
* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 16px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.block {
  background: white;
  border-radius: 8px;
  padding: 16px;
}

.content {
  width: 100%;
  background: white;
  border-radius: 8px;
  margin: 16px 0;
  padding: 16px;
  min-height: calc(100vh - 144px);
}

pre {
  background: #f3f3f3;
  padding: 4px;
  border: 1px solid #a3a3a3;
}

.log {
  position: fixed;
  bottom: -1px;
  right: 8px;
  background: white;
  border: 1px solid #333;
  width: 640px;
  overflow: scroll;
  transition: all 0.3s ease;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.log-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background: #a3a3a3;
  padding: 8px;
  outline: none;
  cursor: pointer;
}

.log-content {
  height: 300px;
  padding: 8px;
  font-family: monospace;
}

.log.closed {
  transform: translateY(300px);
}


.logo {
  color: white;
  position: absolute;
  top: 20px;
  left: 16px;
  display: flex;
  justify-content: center;
}

.logo span {
  font-weight: 500;
}

.logo img {
  width: 100px;
  margin-right: 4px;
  margin-top: -3px;
}
