body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(124deg, rgb(212, 47, 156), rgb(228, 50, 58));
  color: #333;
  padding: 16px;
}

html,
body,
* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.block {
  background: white;
  border-radius: 8px;
  padding: 16px;
}

.content {
  width: 100%;
  background: white;
  border-radius: 8px;
  margin: 16px 0;
  padding: 16px;
  min-height: calc(100vh - 144px);
}

pre {
  background: #f3f3f3;
  padding: 4px;
  border: 1px solid #a3a3a3;
}
