body {
  margin: 0;
  font-family: sans-serif;
  background: #444;
  color: #ccc;
}

html, body, * {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
